In [1]:
import pandas as pd
import sqlalchemy as alch

In [2]:
from getpass import getpass
password = getpass("Introduce your sql password: ")

Introduce your sql password: ········

In [3]:
dbName="sakila"
connectionData=f"mysql+pymysql://root:Bwhabiab1*@localhost/{dbName}"
engine = alch.create_engine(connectionData)
print("I AM INNNNNN!!!!")

I AM INNNNNN!!!!

In [4]:
df = pd.read_sql_query(
"""
SELECT * FROM rental LIMIT 5;

""", engine
)

In [5]:
df.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [12]:
df_may = pd.read_sql_query(
"""
SELECT COUNT(*)
FROM rentals_may;

""", engine
)

In [13]:
df_may.head()

   COUNT(*)
0       993

In [14]:
df_june = pd.read_sql_query(
"""
SELECT COUNT(*)
FROM rentals_june;

""", engine
)

In [15]:
df_june.head()

   COUNT(*)
0      2311

In [24]:
df_may.merge(df_june, how='cross', on='rental_id')

MergeError: Can not pass on, right_on, left_on or set right_index=True or left_index=True